.p-mr-2{
    margin-right: .5rem !important;
}

.mt{
    margin-top: .2rem !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.toast div{
    /*background-color: #fac9da !important;*/
}