body{
    margin:0 !important;
    padding: 0;
}

.hidden{
    visibility: hidden;
}

.btn-search{
    border-radius: 0px 50% 50% 0px !important;
}

.input-search{
    border-radius: 18px 0px 0px 18px !important;
}